.vs/
obj/
bin/
config.json
*.txt
*.deb
AITSYS.Vimeo.Ott.sln.DotSettings.user
.idea/
/Entities/Products/productref.json
/AITSYS.Vimeo.Ott.Test/UnitTest1.cs
AITSYS.Vimeo.Ott/Entities/Products/productref.json
